<style>

	li
{
    list-style-type: none;
}
</style>

<div id = "EQInfo">
<h1><strong> <%= @earthquake.title %> </strong></h1> <br>
<ul id = "Propierties"></ul>
<li> <strong> Magnitude: </strong><%= @earthquake.magnitude %>  </li>
<li> <strong> Place: </strong><%= @earthquake.place %>  </li>
<li> <strong> Date: </strong> <%= Time.at(@earthquake.time/1000) %>
  </li>
</div>



