<style>

	#bs-example-navbar-collapse-1 {
		position: center;
	}

</style>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			
		</div>

		<a class="navbar-brand" href="/">Earthquakes!</a>
		<% if user_signed_in? %>
		<div class="navbar-form collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="form-group">
				<ul class="nav navbar-nav" id="datesInput">

					<li class="active">From: <input type="date" id="startDate" class="form-control">  <span class="sr-only">(current)</span></a></li>
					<li>  To:  <input type="date" id="endDate" class="form-control"></li>
					<li><input type="button" class="btn btn-default" name="query" id="query" value="Generate Report"/></li>

				</div>
				<% end %>

				<ul class="nav navbar-nav navbar-right">
					<li class="nav navbar-nav"></li>
					<% if !user_signed_in? %>
						<li><%= link_to "Sign Up",  new_user_registration_path%></li>




					<% else %>
					<li> <a class="navbar-brand" href="/earthquakes" >List</a> </li>
					<li> <a class="navbar-brand" href="/users/<%= current_user.id %>" >Profile</a> </li>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
					<% end %>
				</ul>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>